body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* header {
  background-color: #000;
  padding: 1rem;
} */

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-wrapper {
  display: flex;
  padding: 2rem;
  gap: 2rem; /* Adds space between left and right sections */
}

.contact-details {
  flex: 1;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.contact-box {
  margin-bottom: 1rem;
}

.contact-info {
  flex: 2;
  padding: 1rem;
  background-color: #fff;
}

.contact-info h1 {
  margin-top: 0;
}

.contact-info p {
  margin: 1rem 0;
}

.connect-with-us {
  margin-top: 2rem;
}

.social-media a {
  color: #000;
  margin-right: 1rem;
}

.contact-form {
  flex: 2;
  padding: 1rem;
  background-color: #fff;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 0.75rem;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
